
<footer class="foot">
  <div class="top">
    <div class="about"><a href="#" style="text-decoration:none">About Us</a><a href="#" style="text-decoration:none">Blog</a><a href="#" style="text-decoration:none">iOS App</a><a href="#" style="text-decoration:none">Android App</a>
    </div>
    <div class="social"><i class="fab fa-twitter"></i><i class="fab fa-facebook-square"></i><i class="fab fa-instagram"></i><i class="fab fa-snapchat-square"></i>
    </div>
  </div>
  <div class="copy">
    <p>Copyright &copy 2019 Omnifood.All rights reserved.</p>
  </div>
</footer>