extend base
block content
  div.content
    include nav
    block text
      .text
        div
          h1 GOODBYE JUNK FOOD.
          h1 HELLO SUPER HEALTHY MEALS
        div
          button.btn1 I&apos;m Hungry
          // i should've used a link
          button.btn2 Menu
          // i should've used a link
  #main
    h2 GET FOOD FAST-NOT FAST FOOD
    h4 aaaaaaaaaaaaaa
    br
    .t
      p(style='text-align: center')
        | Hello, we&rsquo;re Omnifood, your new premium food delivery service. We know you&rsquo;re always busy.
      p(style='text-align: center') No time for cooking.
      br
      p(style='text-align: center') So let us take care of that, we&rsquo;re really good at it, we promise!
  .con
    .m
      i.fas.fa-calendar-check
      br
      br
      h3 UP TO 365 DAYS/YEAR
      br
      p
        | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order more flexibly if that&apos;s your style.
    .m
      i.fas.fa-truck
      br
      br
      h3 READY IN 20 MINUTES
      br
      p
        | You&apos;re only twenty minutes away from your delicious and super healthy meals delivered right to your home. We work with the best chefs in each town to ensure that you&apos;re 100% happy.
    .m
      i.fas.fa-utensils
      br
      br
      h3 100% ORGANIC
      br
      p
        | All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics. Good for your health, the environment, and it also tastes better!
    .m
      i.fas.fa-square
      br
      br
      h3 ORDER ANYTHING
      br
      p
        | We don&apos;t limit your creativity, which means you can order whatever you feel like. You can also choose from our menu containing over 100 delicious meals. It&apos;s up to you
  .con2back
    h2 HOW IT WORKS - SIMPLE AS 1,2,3
    h4 aaaaaaaaaaaaaa
    .con2
      .con2-l
        img.iphone(height='500px;' src='src/app-iPhone.png')
      .con2-r
        .s123
          p#num 1
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse praesentium nisi repellendus illum numquam? Doloremque nesciunt obcaecati, nulla aliquam nam officiis error porro reiciendis consectetur?
          br
        .s123
          p#num 2
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse praesentium nisi repellendus illum numquam? Doloremque nesciunt obcaecati, nulla aliquam nam officiis error porro reiciendis consectetur?
          br
        .s123
          p#num 3
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse praesentium nisi repellendus illum numquam? Doloremque nesciunt obcaecati, nulla aliquam nam officiis error porro reiciendis consectetur?
          br
        .store
          img#play(height='42.5px' width='130px;' src='src/download-app-android.png')
          img(src='src/download-app.svg')
  section.cit
    h2 WE&apos;RE CURRENTLY IN THESE CITIES
    h4 aaaaaaaaaaaaaa
    br
    .con-c
      .con-ind
        img(height='200' width='300px' src='src/pexels-photo-753339.jpeg')
        br
        h5 MOSCOW
        br
        .fi
          i.fas.fa-users
          p 1600+ happy eaters
          br
        .fi
          i.fas.fa-star
          p 60+ top chefs
          br
        .fi
          i.fab.fa-twitter
          a(href='#' style='color:#415e79') @omnifood_london
      .con-ind
        img(height='200px' width='300px' src='src/pexels-photo-1168940.jpeg')
        br
        h5 LISBON
        br
        .fi
          i.fas.fa-users
          p 3700+ happy eaters
          br
        .fi
          i.fas.fa-star
          p 160+ top chefs
          br
        .fi
          i.fab.fa-twitter
          a(href='#' style='color:#415e79') @omnifood_london
      .con-ind
        img(height='200px' width='300px' src='src/pexels-photo-338515.jpeg')
        br
        h5 PARIS
        br
        .fi
          i.fas.fa-users
          p 1600+ happy eaters
          br
        .fi
          i.fas.fa-star
          p 50+ top chefs
          br
        .fi
          i.fab.fa-twitter
          a(href='#' style='color:#415e79') @omnifood_london
      .con-ind
        img(height='200px' width='300px' src='src/pexels-photo-169647.jpeg')
        br
        h5 LONDON
        br
        .fi
          i.fas.fa-users
          p 2000+ happy eaters
          br
        .fi
          i.fas.fa-star
          p 80+ top chefs
          br
        .fi
          i.fab.fa-twitter
          a(href='#' style='color:#415e79') @omnifood_london
  .con4
    .con4-sub
      h2 OUR CUSTOMERS CAN&apos;T LIVE WITHOUT US
      hr(width='10%' style='border-color: #415e79; margin-top: 1%;border-width: 1.5px')
      br
      .comments-head
        .comments
          i.fas.fa-quote-left
          br
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quia esse, quod eveniet iusto qui illo soluta corrupti aut culpa ratione nostrum molestiae harum saepe consequuntur assumenda, reiciendis quaerat similique distinctio voluptas eius quisquam. Earum, similique? Sint aliquam officia eos fugiat tenetur illo nisi. Corrupti neque placeat maiores error dolores voluptas libero ducimus repellendus, ratione esse ut qui quasi quam? Ut at quibusdam quaerat dolor minus iste! Repellendus eos distinctio vel delectus in provident vero labore voluptatibus officia! Amet id voluptatum illum aliquid. Facilis, sed, aut esse, commodi nemo adipisci beatae nihil laborum soluta suscipit asperiores! Consequuntur sed nostrum et.
          br
          .user
            img(src='src/p1.jpeg')
            p Diandra Dottin
        .comments
          i.fas.fa-quote-left
          br
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quia esse, quod eveniet iusto qui illo soluta corrupti aut culpa ratione nostrum molestiae harum saepe consequuntur assumenda, reiciendis quaerat similique distinctio voluptas eius quisquam. Earum, similique? Sint aliquam officia eos fugiat tenetur illo nisi. Corrupti neque placeat maiores error dolores voluptas libero ducimus repellendus, ratione esse ut qui quasi quam? Ut at quibusdam quaerat dolor minus iste! Repellendus eos distinctio vel delectus in provident vero labore voluptatibus officia! Amet id voluptatum illum aliquid. Facilis, sed, aut esse, commodi nemo adipisci beatae nihil laborum soluta suscipit asperiores! Consequuntur sed nostrum et.
          br
          .user
            img(src='src/p2.jpeg')
            p Alberto Duncan 
        .comments
          i.fas.fa-quote-left
          br
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quia esse, quod eveniet iusto qui illo soluta corrupti aut culpa ratione nostrum molestiae harum saepe consequuntur assumenda, reiciendis quaerat similique distinctio voluptas eius quisquam. Earum, similique? Sint aliquam officia eos fugiat tenetur illo nisi. Corrupti neque placeat maiores error dolores voluptas libero ducimus repellendus, ratione esse ut qui quasi quam? Ut at quibusdam quaerat dolor minus iste! Repellendus eos distinctio vel delectus in provident vero labore voluptatibus officia! Amet id voluptatum illum aliquid. Facilis, sed, aut esse, commodi nemo adipisci beatae nihil laborum soluta suscipit asperiores! Consequuntur sed nostrum et.
          br
          .user
            img(src='src/p3.jpeg')
            p Stephanie Silva
  include plans
  //- .offer-head
  //-   h2 START EATING HEALTHY TODAY
  //-   h4 aaaaaaaaaaaaaa
  //-   .offers
  //-     .meal
  //-       .det1
  //-         h5 PREMIUM
  //-         .price
  //-           | $399 
  //-           p / month
  //-         div That&apos;s only $13 per meal
  //-       br
  //-       hr
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p 1 meal everyday
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Order 24/7
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Acces to newest creations
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Free Delivery
  //-       br
  //-       hr
  //-       // <br>
  //-       br
  //-       br
  //-       a.but(style='text-decoration: none' href='#') Sign Up Now
  //-     .meal
  //-       .det1
  //-         h5 PRO
  //-         .price
  //-           | $149 
  //-           p / month
  //-         div That&apos;s only $13 per meal
  //-       br
  //-       hr
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p 1 meal 10 days/month
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Order 24/7
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Access to newest creations
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Free Delivery
  //-       br
  //-       hr
  //-       br
  //-       br
  //-       a.but1(style='text-decoration: none' href='#') Sign Up Now
  //-     .meal(style='height:400px')
  //-       .det1
  //-         h5 STARTER
  //-         .price
  //-           | $19 
  //-           p / month
  //-         div That&apos;s only $13 per meal
  //-       br
  //-       hr
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p 1 meal
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Order from 8 am to 12 pm
  //-       br
  //-       .det
  //-         i.fas.fa-check-circle
  //-         p Free Delivery
  //-       br
  //-       hr
  //-       br
  //-       br
  //-       a.but1(style='text-decoration: none' href='#') Sign Up Now
  .user-form
    h2 WE&apos;RE HAPPY TO HEAR FORM YOU
    br
    hr(width='10%' style='border-color: #415e79; margin-left: 45%;border-width: 1.5px')
    //
      <div class="form-left">
      <p>Name</p>
      <p>Email</p>
      <p>How did you find us</p>
      <p>Newsletter?</p>
      <p>Drop us a line</p>
      </div>
    form.form
      .form-input
        label(for='name') Name
        br
        input.inp(name='name' type='text' placeholder='      Your name')
      br
      .form-input
        label(for='email') E-mail
        br
        input.inp(name='email' type='email' placeholder='      Your email')
      br
      .form-input
        p How did you find us
        select.inp1(name='cars')
          option(value='volvo') Volvo
          option(value='saab') Saab
          option(value='fiat') Fiat
          option(value='audi') Audi
        //
          <input class="inp1" list="browsers">
          <datalist>
          <option value="Friends"></option>
          <option value="Newspaper"></option>
          <option value="TV-ad"></option>
          </datalist>
      .form-input
        p Newsletter
        .check
          input(type='checkbox')
          span Yes,please
      .form-input
        p Drop us a line
        textarea.inp(name='message' style='width:200px; height:50px;')
      button.btn1(style='margin:20px 0px 0px 297px') Submit
