extend base
block content
    include nav
    .main.container
        .row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Login

            // register form
            form.update-profile
                div.form-group
                    label(for='email') Name:
                    input#name.form-control(type='text', placeholder='name' name='name')
                div.form-group
                    label(for='pw') Username:
                    input#username.form-control(type='text' name='username')
                div.form-group
                    label(for='pw') Phone:
                    input#phone.form-control(type='tel' name='phone')
                div.form-group
                    label(for='pw') Email:
                    input#email.form-control(type='email' name='email')
                button.btn.btn-primary(type='submit') Save