doctype html
html
    head
        title Main Page
        block key1
            p something
    body
        a(href="home.html") Home
        a(href="contact") Contact
        block key2
        a(href="features") features
        //- h1 Main Page Heading
        //- p.
        //-     It is multiple line text
        //-     for the paragraph
        
        //- p.newClass paragrapgh with class
        //- p#newId para with id
        //- .single-class
        //- #single-ID
        //- div(class="single-class" id="single ID")

        //- ul
        //-     -let options=["About","Home","Contact","Features"]
        //-     for val,i in options
        //-         li
        //-             a=val+" "+i
        //-     else
        //-         li
        //-             a no elements in array
        //- ul
        //-     -options=["About","Home","Contact","Features"]
        //-     -for(var i=0;i<options.length;i++){
                
        //-         li
        //-             a=options[i]
        //-     -}
           
        //- -const properties = ["large","Primary","ms-8"]
        //- p(class=properties)
        //- -const styles={"color":"red","font-size":"200"} 
        //- h1(style=styles) Hi this is h1 text

            
        
