html
    head
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css")
        link(rel="stylesheet", href="./css/style.css")

        include nav.pug
    body
        p body of main
        include footer.pug